.App{
  width: 100vh;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(107, 23, 204);
}
.heading{
  text-transform: uppercase;
  font-size: 40px;
  z-index: 1;
  color: white;
  text-align: center;
}